
.rain {
    position: absolute;
    width: 2px;
    height: 220px;
    background-color: #e92121; 
    opacity: 0.25; 
    z-index: -5;
}

@keyframes rainFall {
    from {
        transform: translateY(-250%);
    }
    to {
        transform: translateY(250%);
    }
}

/* Style for drop class */
.drop-1 {
    position: absolute;
    width: 5px; /* Adjust size */
    height: 5px; /* Adjust size */
    border-radius: 50%;
}

.drop-2 {
    position: absolute;
    width: 5px; /* Adjust size */
    height: 5px; /* Adjust size */
    border-radius: 50%;
}

.amber-1 {
    position: absolute;
    width: 5px; /* Adjust size */
    height: 5px; /* Adjust size */
    border-radius: 50%;
}

.amber-2 {
    position: absolute; 
    width: 4px; 
    height: 4px; 
    border-radius: 25%; 
}

.amber-3 {
    position: absolute; 
    width: 2px; 
    height: 2px; 
    border-radius: 75%; 
}

@keyframes dropFall {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5;
        transform: translateY(20vh); /* Adjust the distance drops fall */
    }
    100% {
        opacity: 0;
        transform: translateY(40vh); /* Adjust the distance drops fall */
    }
}

@keyframes drift {
    to {
        transform: translateX(100vw) translateY(0) rotate(360deg);
    }
}
    

@keyframes drift-up {
    to {
        transform: translateX(100vw) translateY(-50vh) rotate(360deg);
    }
}
